.menuMobile {
    position: fixed;
    z-index: 6;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

#openMenu {
    position: fixed;
    right: 0;
    top: 0;
    color: var(--cor-0);
    background: var(--cor-2);
    font-size: 32px;
    padding: 16px 16px 32px 32px;
    border-radius: 0% 0% 0% 100%;
    transition: 1s;
    cursor: pointer;
}

#openMenu:hover {
    position: fixed;
    background-color: var(--cor-0);
    color: var(--cor-2);
}

#closeMenu {
    position: fixed;
    top: 0;
    color: var(--cor-2);
    font-size: 32px;
    padding: 16px;
    display: none;
    cursor: pointer;
}

#linksMenu {
    display: none;
    background-color: var(--cor-1);
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    padding: 20vh 0;
    align-items: center;
    justify-content: center;
}

#linksMenu a {
    text-align: center;
    text-decoration: none;
    color: var(--cor-0);
    font-size: 1.5em;
    font-family: 'Roboto';
    margin-bottom: 1.25rem;
    z-index: 10;
}

@include responsive(m) {
    .menuMobile {
        display: block;
    }
}

@include responsive(s) {
    .menuMobile {
        margin-left: 0;
        margin-right: 0;

        #linksMenu a {
            font-size: 1em;
        }
    }
}