.nav-header {
    position: relative;
    background-color: var(--cor-0);
}

.nav-header__div {
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: .5rem;
    margin-right: 3rem;
}

.nav__ul {
    margin-top: 4rem;
    display: flex;
    justify-content: flex-end;

    .nav__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav__item a {
        display: block;
        padding: 1.5rem 1rem;
        color: var(--cor-1);
        font-size: 13px;
        font-weight: 600;
    }

    .nav__item a:hover {
        color: var(--cor-2);
    }
}

.bol::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: var(--cor-2);
    border-radius: 50%;
    display: inline-block;
}

@include responsive(m) {
    .nav__ul {
        display: none;
    }
}

@include responsive(s){
    .nav-header__div{
        margin-right: 1rem ;
    }
}
