.banner-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
}

.ellipse {
    position: relative;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 50rem;
    width: 32rem;
    background-color: var(--cor-4);
    display: inline-block;

}

.banner-foto img {
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: auto;
    top: 260px;
    border-radius: 10px;

}

.banner-texto {
    position: relative;
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;
}

.banner-texto h1 {
    color: var(--cor-4);
    font-weight: 700;
}

.banner-texto h2 {
    margin-top: 1.9rem;
    color: var(--cor-2);
    font-weight: 700;
}

.banner-texto p {
    margin-top: 1.9rem;
    color: var(--cor-1);
    font-weight: 600;
    white-space: break-spaces; // quebra linha
}

.btn-g {
    display: flex;
    margin-top: 3.5rem;
    border: 2px solid var(--cor-2);
    border-radius: 60px;
    width: 9.4rem;
    height: 2.44rem;
    align-items: center;
}

.circle {
    position: relative;
    left: 2px;
    height: 38px;
    width: 38px;
    background-color: var(--cor-2);
    border-radius: 50%;
    align-items: center;

    .download {
        height: 1.88rem;
    }
}

.btn-g h4 {
    font-weight: 700;
    padding: 8px;
}

.btn-g:hover {
    background-color: var(--cor-2);
}

.circle:hover {
    background-color: var(--cor-0);
}

@include responsive(l) {
    .banner-texto{
      margin-left: auto;
      margin-right: auto;
    }
}


@include responsive(m) {
    .banner-top {
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
    }

    .banner-foto img {
        margin-left: 30%;
        margin-right: 30%;
        width: 25rem;
        top: 260px;

    }

    .ellipse {
        position: relative;
        width: 50rem;
        height: 45rem;
    }

    .banner-texto {
        margin-top: 2.1rem;
        margin-left: auto;
        margin-right: auto;

        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }
}

@include responsive(s) {
    .banner-foto img {
        margin-left: 45%;
        margin-right: 45%;
        width: 20rem;
        top: 150px;

    }
    .ellipse {
        width: 50rem;
        height: 30rem;
    }
}
@include responsive(xs) {
    .banner-foto img {
        margin-left: 10%;
        margin-right: 10%;
        width: 14rem;
        
    }

    .ellipse {
        width: 100%;
        height: 25rem;
    }
}