:root{
    --cor-0: #ffffff;
    --cor-1: rgba(62, 67, 69, 0.8);
    --cor-2: #F56692;
    --cor-3: rgba(0, 84, 107, 1);
    ;
}
.cor-0{
    color: var(--cor-0);
}
.cor-1{
    color: var(--cor-1);
}
.cor-2{
    color: var(--cor-2);
}
.cor-3{
    color: var(--cor-3);
}